{% extends 'genre/navigation.html' %}

{% block title %}Piece{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 20px;
    }
    h1 {
        text-align: center;
        color: #4CAF50;
        margin-bottom: 20px;
    }
    .piece-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .piece-card {
        border: 2px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        width: 400px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        text-align: center;
        position: relative;
    }
    .piece-card:hover {
        transform: scale(1.05);
        border-color: #4CAF50;
    }
    .piece-card img {
        width: 100%;
        max-height: 300px; /* Set a maximum height */
        object-fit: contain; /* Ensure the image fits without cropping */
        border-radius: 10px;
    }
    .piece-card h2 {
        font-size: 1.5em;
        margin: 10px 0;
    }
    .piece-card h3 {
        font-size: 1.2em;
        color: #777;
    }
    .piece-card .btn {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        font-size: 1em;
        color: white;
        background-color: #4CAF50;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }
    .piece-card .btn:hover {
        background-color: #45a049;
    }
    .back-link {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 1.2em;
    }
    .back-link a {
        text-decoration: none;
        color: #4CAF50;
    }
    .back-link a:hover {
        text-decoration: underline;
    }
</style>

<h1>Collections</h1>
<div class="piece-container">
    {% for pieceobj in collection.piece_set.all %}
        <div class="piece-card">
            <img src="{{ pieceobj.piececover }}" alt="{{ pieceobj.title }}">
            <h2>{{ pieceobj.title }}</h2>
            <h2>- {{ pieceobj.artist }}</h2>
            <h3>{{ pieceobj.piece_type }}</h3>
            <a href="{% url 'book_detail' pieceobj.id %}" class="btn">Show Details</a>
        </div>
    {% endfor %}
</div>
<div class="back-link">
    <a href="{% url 'index' %}">Back to Home</a>
</div>
{% endblock %}
